version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_DATABASE: meu_app_personagem
      MYSQL_ROOT_PASSWORD: '123456'
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app-backend:
    build: .
    container_name: spring-app
    ports:
      - "8080:8080"
    depends_on:
      - mysql-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/meu_app_personagem?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: '123456'
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate

volumes:
  mysql_data: